@tailwind base;
  @tailwind components;
  @tailwind utilities;



  @layer base {
    :root {
      --background:230, 24%, 12%;
      --foreground: 230, 24%, 15%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 217.2 91.2% 59.8%;
      --primary-foreground: 222.2 47.4% 11.2%;
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 224.3 76.3% 48%;
      --radius: 0.5rem;

    }

    
    /* .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

    } */
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 2s linear infinite; /* Adjust duration and timing function as needed */
  }
  
  #content::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  /* For Firefox */
  #content {
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
  }





/* ////// Custom Scroll Bar */

  /* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsla(230, 24%, 25%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, rgba(66, 153, 225, 0.4), rgba(72, 187, 120, 0.4));
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: transparent ;
}

/* Custom Scrollbar for elements */
.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsla(230, 24%, 25%);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, rgba(66, 153, 225, 0.4), rgba(72, 187, 120, 0.4));
}

.custom-scrollbar {
  scrollbar-width:thin;
  scrollbar-color: transparent hsla(230, 24%, 25%);
}
